.map {
    position: relative;
    height: 100vh;
    background: url('../../images/pageBackground.png') center;
    background-size: cover;
}

button.closeModal {
  position: absolute;
  top: -1px;
  right: -1px;
}
